<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.webank.mumble.ucsportal.integration.dao.SkillsStaffDAO">
    <resultMap id="result" type="cn.webank.mumble.ucsportal.common.dto.SkillsStaffDTO">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="skills_id" jdbcType="INTEGER" property="skillsId" />
        <result column="is_primary" jdbcType="INTEGER" property="isPrimary"/>
        <result column="ctime" jdbcType="VARCHAR" property="ctime" />
        <result column="mtime" jdbcType="VARCHAR" property="mtime" />
        <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    </resultMap>

    <select id="list" parameterType="java.util.Map" resultMap="result">
        SELECT * FROM skills_staff
        <trim prefix="WHERE" suffixOverrides=" AND | OR">
            <if test="id != null and id > 0">
                id = #{id} AND
            </if>
            <if test="skillsId != null and skillsId > 0">
                skills_id = #{skillsId} AND
            </if>
            <if test="staffId != null and staffId != ''">
                staff_id = #{staffId} AND
            </if>
            <if test="isPrimary != null and isPrimary !=''">
                is_primary = #{isPrimary} AND
            </if>
            <if test="state !=null and state !='' and state >= 0">
                state = #{state} AND
            </if>
        </trim>
    </select>

    <insert id="add" parameterType="cn.webank.mumble.ucsportal.common.dto.SkillsStaffDTO">
		INSERT INTO
		skills_staff(state,skills_id,is_primary,ctime,mtime,staff_id,create_user,modify_user)
		VALUES(#{state},#{skillsId},#{isPrimary},#{ctime},#{mtime},#{staffId},#{createUser},#{modifyUser});
	</insert>

    <delete id="delete" parameterType="cn.webank.mumble.ucsportal.common.dto.SkillsStaffDTO">
        delete from skills_staff
        where staff_id = #{staffId}
    </delete>

    <update id="update" parameterType="cn.webank.mumble.ucsportal.common.dto.SkillsStaffDTO">
        UPDATE skills_staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="id > 0">
                id = #{id},
            </if>
            <if test="state >= 0">
                state = #{state},
            </if>
            <if test="isPrimary >= 0">
                is_primary = #{isPrimary},
            </if>
            <if test="skillsId != null and skillsId > 0">
                skills_id = #{skillsId},
            </if>
            <if test="staffId != null and staffId != ''">
                staff_id = #{staffId},
            </if>
            <if test="ctime != null and ctime != ''">
                ctime = #{ctime},
            </if>
            <if test="mtime != null and mtime != ''">
                mtime = #{mtime},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                modify_user = #{modifyUser},
            </if>
        </trim>
        WHERE skills_id = #{skillsId} and staff_id = #{staffId}
    </update>
</mapper>
