<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.webank.mumble.ucsportal.integration.dao.WorkNoDAO">
	<resultMap id="result" type="cn.webank.mumble.ucsportal.common.dto.WorkNoDTO">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="um" jdbcType="VARCHAR" property="um" />
		<result column="workNo" jdbcType="VARCHAR" property="workNo" />
		<result column="extensionNo" jdbcType="VARCHAR" property="extensionNo" />
		<result column="platform" jdbcType="VARCHAR" property="platform" />
		<result column="bizGroup" jdbcType="VARCHAR" property="bizGroup" />
		<result column="manGroup" jdbcType="VARCHAR" property="manGroup" />
		<result column="skill" jdbcType="VARCHAR" property="skill" />
		<result column="businessId" jdbcType="INTEGER" property="businessId" />
	</resultMap>

	<select id="getByPage" parameterType="java.util.Map" resultMap="result">
		SELECT * FROM work_number
		<trim prefix="WHERE" suffixOverrides=" AND | OR">
			<if test="id !=null and id > 0">
				id = #{id} AND
			</if>
			<if test="name != null and name != ''">
				name like "%"#{name}"%" AND
			</if>
			<if test="um != null and um != ''">
				um = #{um} AND
			</if>
			<if test="workNo != null and workNo != ''">
				workNo = #{workNo} AND
			</if>
			<if test="platform != null and platform != ''">
				platform = #{platform} AND
			</if>
			<if test="bizGroup != null and bizGroup != ''">
				bizGroup = #{bizGroup} AND
			</if>
			<if test="manGroup != null and manGroup != ''">
				manGroup = #{manGroup} AND 
			</if>
			<if test="businessId !=null and businessId > 0">
				businessId = #{businessId} AND
			</if>
		</trim>
	</select>
	
	<insert id="add" parameterType="cn.webank.mumble.ucsportal.common.dto.WorkNoDTO">
		INSERT INTO
		work_number(id,name,um,workNo,extensionNo,platform,bizGroup,manGroup,skill,businessId)
		VALUES(#{id},#{name},#{um},#{workNo},#{extensionNo},#{platform},#{bizGroup},#{manGroup},#{skill},#{businessId});
	</insert>

	<update id="update" parameterType="cn.webank.mumble.ucsportal.common.dto.WorkNoDTO">
		UPDATE work_number
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="um != null and um != ''">
				um = #{um},
			</if>
			<if test="workNo != null and workNo != ''">
				workNo = #{workNo},
			</if>
			<if test="extensionNo != null and extensionNo != ''">
				extensionNo = #{extensionNo},
			</if>
			<if test="platform != null and platform != ''">
				platform = #{platform},
			</if>
			<if test="bizGroup != null and bizGroup != ''">
				bizGroup = #{bizGroup},
			</if>
			<if test="manGroup != null and manGroup != ''">
				manGroup = #{manGroup},
			</if>
			<if test="skill != null and skill != ''">
				skill = #{skill},
			</if>
			<if test="businessId != null and businessId != ''">
				businessId = #{businessId},
			</if>
		</trim>
		WHERE id = #{id}
	</update>
	
	<delete id="delete" parameterType="cn.webank.mumble.ucsportal.common.dto.WorkNoDTO">
		DELETE FROM work_number WHERE id = #{id}
	</delete>
	
	<select id="getWorkNoList" parameterType="java.util.Map" resultMap="result">
		SELECT * FROM work_number
		<trim prefix="WHERE" suffixOverrides=" AND | OR">
			<if test="id !=null and id > 0">
				id = #{id} AND
			</if>
			<if test="name != null and name != ''">
				name like "%"#{name}"%" AND
			</if>
			<if test="um != null and um != ''">
				um = #{um} AND
			</if>
			<if test="workNo != null and workNo != ''">
				workNo = #{workNo} AND
			</if>
			<if test="platform != null and platform != ''">
				platform = #{platform} AND
			</if>
			<if test="bizGroup != null and bizGroup != ''">
				bizGroup = #{bizGroup} AND
			</if>
			<if test="manGroup != null and manGroup != ''">
				manGroup = #{manGroup} AND 
			</if>
			<if test="businessId !=null and businessId > 0">
				businessId = #{businessId} AND
			</if>
		</trim>
	</select>
</mapper>
